*{
    margin: 0;
    padding: 0;
    font-family:'Roboto Condensed';
}

/* -------------------------------------- HEADER ----------------------------------------------------- */

.logo{
    height: 80px;

}

.header{ display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100% ;
    background-color: rgb(0, 0, 0);
}

.navlinks{
    display: flex;
    margin-right: 15px;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
} 

.links{ 
    color: aliceblue;
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 245, 184), rgb(253, 200, 86), rgba(255, 180, 19, 0.815));
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
}
.links:hover{
    color: rgb(250, 202, 99);
    transform-origin: left bottom;
    transition: 0.2s ease-in-out;
    background-size: 100% 2px;
}

/* ---------------------------------------------- MAIN -------------------------------*/



#phone_carousel{ 
    display: none;
}



#carousel-slide{ 
    transition: transform .6s ease, opacity .3s ease-out;
    transition-duration: .6s;
   }

.item{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* ---------------------------------------------- FOOTER ------------------------------------------ */

.footer{
    background-color: black;
    position: relative;
    width: 100%;
    height: 100px;
}

.links_footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;

}

.links_contacto{
    color: aliceblue;
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 245, 184), rgb(253, 200, 86), rgba(255, 180, 19, 0.815));
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: left bottom;
}

.links_contacto:hover{
    color: rgb(255, 207, 103);
    transform-origin: left bottom;
    transition: 0.2s ease-in-out;
    background-size: 100% 2px;
}

/* ------------------------- MEDIA --------------------------- */

@media (max-width:680px) {

#desk_carousel{
    display: none;
}


h2{ text-align: center;
    padding-top: 5px;  
    border-bottom-style: solid;
    border-color: rgb(253, 202, 90);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;  
}

#phone_carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.footer{ 
      position: relative;
      bottom: 0;
}


.phone_item{height: 100%;
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: center;

}

.phone_link{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.car{ 
    display: flex;
   aspect-ratio: 13/9;
    width: 100vw;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    
}
.suv{
    display: flex;
    aspect-ratio: 13/8;
    width: 100vw;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    
}
.pick_up{
   
    margin-bottom: 15px;
    display: flex;
    aspect-ratio: 13/9;
    width: 100vw;
    position: relative;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    
}

}